@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap");

$inter: "Inter";
$primary-color: #000000;
$secondary-color: #4b4b4b;
$gray: #767676;
$text-gray: #868686;
$white: #ffffff;
$iconColor: #969696;
$totalColor: #545454;
$dropdown-border: #e6e6e6;
$dropdown-bg: #fbfbfb;

html,
body,
:root {
	height: 100%;
}

@import "../styles/breakpoints.scss";

@import "../styles/button.scss";
@import "../styles//input.scss";
@import "../styles//loginHeader.scss";
@import "../styles/loginSection.scss";
@import "../styles//loginSectionContent.scss";

@import "../styles//navbar.scss";
@import "../styles//slider.scss";

@import "../styles//modal.scss";
@import "../styles//cart.scss";
@import "../styles//dropDown.scss";
