$breakpoints: (
  "mobile": (
    max-width: 425px,
  ),
  "small": (
    min-width: 426px,
  ),
  "medium": (
    min-width: 768px,
  ),
  "large": (
    min-width: 1025px,
  ),
  "x-large": (
    min-width: 1281px,
  ),
  "2x-large": (
    min-width: 1537px,
  ),
) !default;

@mixin breakpoint($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  } @else {
    @warn "Unfortunately, this `#{$breakpoint}` is not exist. " + "Available breakpoints are: #{map-keys($breakpoints)}. ";
  }
}
