.button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 10px;
  padding: 16px 92px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 300;
  z-index: 10 !important;
  transition: opacity 0.3s;

  &.big {
    padding: 16px 32px;
    border-radius: 46px;
    font-size: 22px;
    gap: 20px;
    @include breakpoint("small") {
      padding: 28px 73px;
      font-size: 32px;
      gap: 48px;
    }
    @include breakpoint("medium") {
      padding: 28px 128px;
    }
  }

  img {
    width: 32px !important;
    height: 32px !important;
    position: relative !important;
    @include breakpoint("small") {
      width: 64px !important;
      height: 64px !important;
    }
  }

  &-primary {
    text-transform: uppercase;
    background: rgb(30, 30, 30);
    background: linear-gradient(
      180deg,
      rgba(30, 30, 30, 1) 0%,
      rgba(66, 66, 66, 1) 100%
    );
    color: $white;
  }

  span {
    white-space: nowrap;
  }

  &:hover {
    opacity: 0.8;
  }
}
