.cartModal {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;

  @include breakpoint("mobile") {
    justify-content: flex-start;
    margin-right: 20px;
  }

  @include breakpoint("small") {
    justify-content: space-between;
    margin-right: 20px;
  }

  @include breakpoint("medium") {
    margin-right: unset;
  }

  &_items {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
    max-height: calc(100% - 240px);

    @include breakpoint("medium") {
      max-height: calc(100% - 300px);
    }
  }

  &_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin-right: 40px;
    justify-content: flex-end;
    margin-bottom: 8px;
    &:after {
      content: "";
      width: 100%;
      height: 1px;
      position: absolute;
      left: 0;
      bottom: 0;
      background: linear-gradient(
        270deg,
        #3c3c3c 7.52%,
        rgba(60, 60, 60, 0) 50%
      );
    }

    &-image {
      position: absolute;
      height: 100%;
      left: 16px;
      img {
        height: 100%;
        width: auto;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      position: relative;
      gap: 8px;
      height: 128px;
      padding-bottom: 8px;

      @include breakpoint("small") {
        height: 256px;
      }

      .productCart {
        &_category {
          text-transform: uppercase;
          font-family: $inter;
          font-size: 24px;
          font-weight: 100;

          @include breakpoint("small") {
            font-size: 32px;
          }
        }

        &_price {
          font-size: 20px;
          font-family: $inter;
          font-weight: 100;
        }

        &_quantity {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          gap: 12px;

          .icon {
            position: relative;
            font-weight: 200;
            font-family: $inter;
            color: $iconColor;
            margin-top: 0px;
            cursor: pointer;
          }

          &-text {
            font-family: $inter;
            display: flex;
            align-items: center;
            gap: 5px;
            font-weight: 100;

            @include breakpoint("mobile") {
              font-size: 16px;
            }

            @include breakpoint("mobile") {
              font-size: 20px;
            }
          }
        }
      }

      .removeIcon {
        height: inherit;
        color: $iconColor;
        position: absolute;
        right: -45px;
        transform: translateX(-50%);
        cursor: pointer;

        @include breakpoint("mobile") {
          top: 42%;
          padding: 0;
        }

        @include breakpoint("small") {
          top: 50%;
          padding: 22px 0 26px 0;
        }
      }
    }
  }

  &_taxes {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-family: $inter;
    font-weight: 300;
    margin-bottom: 16px;

    span {
      text-transform: uppercase;
      font-size: 24px;
      display: block;

      &:last-child {
        width: 200px;
        font-weight: 100;
        @include breakpoint("medium") {
          width: 300px;
        }
      }
    }
  }

  &_total {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-family: $inter;

    span {
      display: block;
      text-transform: uppercase;
      &:first-child {
        font-weight: 300;
        color: $totalColor;
        font-size: 40px;
        @include breakpoint("small") {
          font-size: 48px;
        }
      }
      &:last-child {
        font-weight: 100;
        font-size: 36px;
        width: 200px;
        @include breakpoint("small") {
          font-size: 40px;
        }
        @include breakpoint("medium") {
          width: 300px;
        }
      }
    }
  }

  &_center {
    margin-bottom: 40px;
  }

  &_bottom {
    position: fixed;
    bottom: 20px;
  }

  .chechoutBtn {
    display: flex;
    justify-content: center;
    align-self: center;
  }
}
