.loginSection {
  display: flex;
  justify-content: space-between;
  padding: 40px 0 0;
  @include breakpoint("mobile") {
    flex-direction: column !important;
  }

  &_left {
    z-index: 10;
    padding: 0 32px 32px;
    @include breakpoint("medium") {
      width: 50%;
      margin-left: 72px;
    }
  }

  &_right {
    @include breakpoint("small") {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
    }

    .tourEifel {
      height: auto;
      width: 100%;
      display: none;

      @include breakpoint("small") {
        display: block;
        height: 100%;
      }

      &.mobileOnly {
        display: block;
        @include breakpoint("small") {
          display: none;
        }
      }
    }
  }
}
