.loginHeader {
  text-transform: uppercase;
  font-size: 32px;
  z-index: 10 !important;
  position: relative;
  margin-bottom: 32px;

  @include breakpoint("medium") {
    margin-left: 10%;
  }

  &_french {
    color: $text-gray;
  }

  &_chinese {
    margin-left: 81px;
    font-size: 24px;
    z-index: 10;
  }
}
