.loginSectionContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;

  .inputGroup {
    display: flex;
    flex-direction: column;
    width: 240px;
    row-gap: 16px;
    margin-bottom: 48px;

    .error-message {
      color: #ff0000;
      font-size: 14px;
    }
  }
}
