.navItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;

  span {
    text-transform: uppercase;
    font-size: 20px;
  }

  &.column {
    flex-direction: column;
    gap: 13px;

    img {
      width: 20px !important;
      height: 44px !important;

      @include breakpoint("large") {
        width: 35px !important;
        height: 76px !important;
      }
    }

    span {
      font-size: 24px;

      @include breakpoint("large") {
        font-size: 32px;
      }
    }
  }
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @include breakpoint("medium") {
    flex-direction: row;
    flex-wrap: wrap;
  }

  &_title {
    font-family: $inter;
    font-weight: 200;
  }

  &_top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 22px;
    z-index: 20;
    @include breakpoint("medium") {
      padding: 56px 72px 0;
    }

    .logo {
      height: 28px;
      width: auto;
      @include breakpoint("medium") {
        height: 42px;
      }
    }

    .cart {
      align-self: flex-start;
      img {
        width: 28px !important;
        height: 28px !important;

        @include breakpoint("medium") {
          width: 48px !important;
          height: 48px !important;
        }
      }
    }
  }

  &_center {
    width: auto;
    @include breakpoint("medium") {
      width: 100%;
      margin-top: -28px;
    }
  }

  &_right {
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: relative;
    width: 100%;
    justify-content: space-around;
    margin-top: 52px;
    padding: 0 32px;

    @include breakpoint("small") {
      margin-top: 65px;
      justify-content: flex-end;
      gap: 74px;
    }

    @include breakpoint("large") {
      margin-top: 0;
      position: absolute;
      gap: 20px;
      right: 60px;
      right: 0;
      bottom: 15px;
    }

    @include breakpoint("x-large") {
      right: 116px;
    }
  }

  .logo {
    align-self: flex-start;
  }

  .navItem {
    transition: opacity 0.2s;

    &.column {
      align-self: flex-end;

      @include breakpoint("mobile") {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      span {
        text-align: center;
      }
    }

    &:hover {
      opacity: 0.8;
    }

    &.cart {
      display: flex;
      .count {
        font-size: 20px;
        margin-bottom: -5px;
        margin-right: -5px;
        font-weight: 400;
      }
    }
  }
}
